#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background-color: transparent;
}
button.button {
  padding: 10px 24px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  &:hover,
  &:focus {
    background-color: #fff;
    color: $text-black;
  }
}

button.button.button--black {
  border: 2px solid #000;
  color: #000;
}

button.button.button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
